@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: hsl(51, 33%, 92%);
  --foreground: hsl(0, 3%, 6%);
  --muted: hsl(50, 3%, 42%);
  --badge: hsl(55, 15%, 86%);
  --badge-border: hsl(55, 10%, 79%);
  --card: hsl(51, 21%, 88%, 50%);
  --pc: hsl(51, 33%, 92%);
  --p: hsl(50, 3%, 42%);
  .overlay {
    display: none;
  }
  --accent: hsl(215, 85%, 77%);
}

.dark {
  --background: hsla(220, 17%, 7%, 1);
  --foreground: hsla(0, 0%, 93%, 1);
  --muted: hsla(0, 0%, 64%, 1);
  --badge: hsla(218, 17%, 100%, 0.021);
  --card: hsla(218, 17%, 100%, 0.021);
  --badge-border: hsla(217, 17%, 100%, 0.14);
  --pc: hsla(220, 17%, 7%, 1);
  --p: hsla(51, 33%, 92%, 1);
  .overlay {
    display: block;
  }
  --accent: hsl(255, 100%, 72%);
}


/* debug only
* {
  outline: 1px solid red;
}*/

::selection {
  color: var(--pc);
  background: var(--p);
}


::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
